#mcontact{border: none !important;}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
.dituContent{border:#ccc solid 1px;}
.contact-block p{font-size: 1.3rem;}
.contact-content{margin-top: 30px;}
.contact-block p.title{font-size: 1.4rem;color: #FFA700;}
